/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap');
/* body */
body {
    font-family: "Maven Pro";
    font-weight: 400;
    font-size: 16px;
}
.text-red{
    color: #990100;
}
.text-pink{
    color: #DE5B6D;
}
.text-grey{
    color: #767676;
}
.text-black{
    color: #000;
}
h1{
    font-size: 35px;
    line-height: 50px;
    font-weight: bold;
    margin: 0;
}
h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    margin: 0;
}
h3{
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}
h4{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}
.custom-container{
    max-width: 980px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.btn-primary {
    min-width: 100px;
    height: 50px;
    background: #DE5B6D;
    border: 2px solid #DE5B6D;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.btn-primary:hover{
    background: transparent;
    border: 2px solid #DE5B6D;
    color: #DE5B6D;
}
.btn-secondary {
    min-width: 100px;
    height: 50px;
    background: #212529;
    border: 2px solid #212529;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.btn-secondary:hover{
    background: transparent;
    border: 2px solid #212529;
    color: #212529;
}
.banner-section {
    padding: 80px 0;
    background: url(images/unique-bg.jpg);
    background-color: #ffffffc7;
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-area .logo {
    margin-bottom: 50px;
}
.content-area h1 {
    margin-bottom: 50px;
}
.content-area h4 {
    max-width: 650px;
    margin: 0 auto 50px;
}
.banner-bottom-section , .with-clients-section {
    padding: 50px 0;
}
.with-clients-section {
    border-top: 1px solid #ccc;
}
h2.heading{
    margin-bottom: 80px;
}
.with-clients-section .item {
    max-width: 350px;
    margin: 0 auto 70px;
}
.with-clients-section .item .image {
    margin-bottom: 20px;
}
.unique-section{
    padding: 80px 0;
    background: url(images/banner-bg.jpg);
    background-color: #000000c7;
    color: #fff;
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
}
.unique-section .item {
    position: relative;
    text-align: left;
    margin-bottom: 80px;
}
.unique-section .item span {
    font-size: 70px;
    line-height: 40px;
    font-weight: 900;
    color: #DE5B6D;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0.8;
}
.unique-section .item p {
    position: relative;
    font-size: 18px;
}
.investment-section{
    padding: 70px 0;
    background: #B9D4DC;
}
.investment-section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    font-size: 20px;
    padding-right: 50px;
}
.portfolio-section {
    padding: 50px 0;
}
.portfolio-section .image {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-top: 0;
}
.who-we-are {
    border-top: 1px solid #ccc;
    padding-top: 50px;
}
.who-we-are .item {
    margin-bottom: 90px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.who-we-are .item .image {
    width: 160px;
    height: 160px;
    margin: 0 auto 30px;
    border-radius: 50%;
}
.who-we-are .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.visit-blog {
    background: #b9d4dc;
    padding: 80px 0;
}
.visit-blog .btn-wrapper {
    display: inline-block;
}
.visit-blog .btn-primary {
    max-width: 100%;
    width: 300px;
}
.footer-sec {
    padding: 50px 0 20px;
    background: #de5b6d;
    color: #fff;
}
.footer-sec .btn-wrapper {
    display: inline-block;
    margin: 50px 0;
}
.footer-sec p a{
    text-decoration: underline;
    color: #fff;
}
/* responsive media queries */

@media screen and (max-width: 1400px){
    body {
        font-size: 15px;
    }
    h1{
        font-size: 32px;
        line-height: 45px;
    }
    h2{
        font-size: 28px;
        line-height: 36px;
    }
    h3{
        font-size: 22px;
        line-height: 28px;
    }
    h4{
        font-size: 18px;
        line-height: 26px;
    }
    
    .banner-section {
        padding: 60px 0;
    }
    .content-area .logo {
        margin-bottom: 40px;
    }
    .content-area h1 {
        margin-bottom: 40px;
    }
    .content-area h4 {
        max-width: 650px;
        margin: 0 auto 40px;
    }
    .banner-bottom-section , .with-clients-section {
        padding: 40px 0;
    }
    h2.heading{
        margin-bottom: 40px;
    }
    .with-clients-section .item {
        max-width: 350px;
        margin: 0 auto 60px;
    }
    .unique-section{
        padding: 70px 0;
    }
    .unique-section .item {
        margin-bottom: 70px;
    }
    .unique-section .item span {
        font-size: 65px;
        line-height: 40px;
        top: -10px;
        left: -10px;
        opacity: 0.8;
    }
    .unique-section .item p {
        font-size: 18px;
    }
    .investment-section{
        padding: 60px 0;
        background: #B9D4DC;
    }
    .investment-section .content{
        font-size: 18px;
        padding-right: 40px;
    }
    .portfolio-section {
        padding: 40px 0;
    }
    .portfolio-section .image {
        height: 130px;
        padding: 40px;
    }
    .who-we-are {
        padding-top: 50px;
    }
    .who-we-are .item {
        margin-bottom: 60px;
    }
    .who-we-are .item .image {
        width: 140px;
        height: 140px;
        margin: 0 auto 30px;
    }
    .visit-blog {
        padding: 60px 0;
    }
    .visit-blog .btn-primary {
        width: 250px;
    }
    .footer-sec {
        padding: 40px 0 20px;
    }
    .footer-sec .btn-wrapper {
        margin: 40px 0;
    }
}

@media screen and (max-width: 1280px){
    .with-clients-section .item .image {
        margin-bottom: 20px;
        width: 80px;
        margin: 0 auto 20px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 991px){
    .investment-section .content{
        padding: 0;
    }
    body {
        font-size: 15px;
    }
    h1{
        font-size: 30px;
        line-height: 40px;
    }
    h2{
        font-size: 26px;
        line-height: 32px;
    }
    h3{
        font-size: 20px;
        line-height: 25px;
    }
    h4{
        font-size: 16px;
        line-height: 22px;
    }
    
    .btn-primary {
        min-width: 100px;
        height: 45px;
        font-size: 18px;
        font-weight: bold;
        padding: 0 30px;
    }
    .btn-secondary {
        min-width: 100px;
        height: 45px;
        font-size: 18px;
        font-weight: bold;
        padding: 0 30px;
    }
    .banner-section {
        padding: 40px 0;
    }
    .content-area .logo {
        margin-bottom: 30px;
    }
    .content-area h1 {
        margin-bottom: 30px;
    }
    .content-area h4 {
        margin: 0 auto 30px;
    }
    .banner-bottom-section , .with-clients-section {
        padding: 35px 0;
    }
    h2.heading{
        margin-bottom: 40px;
    }
    .with-clients-section .item {
        margin: 0 auto 50px;
    }
    .unique-section{
        padding: 50px 0;
    }
    .unique-section .item {
        margin-bottom: 50px;
    }
    .unique-section .item span {
        font-size: 55px;
        line-height: 40px;
        top: -10px;
        left: -10px;
        opacity: 0.8;
    }
    .unique-section .item p {
        font-size: 16px;
    }
    .investment-section{
        padding: 50px 0;
        background: #B9D4DC;
    }
    .investment-section .content{
        font-size: 16px;
        padding-right: 30px;
    }
    .portfolio-section {
        padding: 35px 0;
    }
    .portfolio-section .image {
        height: 130px;
        padding: 30px;
    }
    .who-we-are {
        padding-top: 40px;
    }
    .who-we-are .item {
        margin-bottom: 50px;
    }
    .who-we-are .item .image {
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
    }
    .visit-blog {
        padding: 50px 0;
    }
    .visit-blog .btn-primary {
        width: 250px;
    }
    .footer-sec {
        padding: 35px 0 15px;
    }
    .footer-sec .btn-wrapper {
        margin: 30px 0;
    }
}

@media screen and (max-width: 767px){
    .with-clients-section .item {
        margin: 0 auto 30px;
        display: flex;
    }
    .with-clients-section .item .image {
        margin-bottom: 0;
        margin-right: 15px;
        align-items: flex-start;
        padding-top: 10px;
    }
    .with-clients-section .item p {
        text-align: left;
        margin: 0;
    }
}

@media screen and (max-width: 575px){

    .investment-section .content{
        margin-top: 20px;
    }
    h1 {
        font-size: 26px;
        line-height: 35px;
    }
    h2 {
        font-size: 22px;
        line-height: 28px;
    }
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
    .content-area .logo , .content-area h1 ,.content-area h4{
        /* margin-bottom: 20px; */
    }
    .btn-primary{
        font-size: 16px;
    }
    h2.heading{
        margin-bottom: 30px;
    }
    .banner-bottom-section, .with-clients-section{
        padding: 30px 0;
    }
    .unique-section ,.investment-section{
        padding: 40px 0;
    }
    .portfolio-section .image {
        height: auto;
        width: 200px;
        margin: 0 auto;
        padding: 20px;
    }
    .with-clients-section .item:last-child{
        margin: 0;
    }
    
   
}
@media screen and (max-width: 480px){
    h1 {
        font-size: 24px;
        line-height: 28px;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
    h3 {
        font-size: 16px;
        line-height: 22px;
    }
    .btn-primary {
        font-size: 15px;
    }
    .btn-secondary{
        font-size: 15px;
    }
    .unique-section .item p {
        font-size: 15px;
    }
    /* .banner-section {
        padding: 25px 0;
    } */
    .banner-bottom-section, .with-clients-section {
        padding: 20px  0;
    }
    .content-area .logo, .content-area h1, .content-area h4 {
        /* margin-bottom: 15px; */
    }
    h2.heading {
        margin-bottom: 20px;
    }
    .unique-section .item {
        margin-bottom: 40px;
    }
    .unique-section .item span {
        font-size: 45px;
    }
}

